<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.srtcayhan.hmsaccountkit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>

    <application
        android:name=".HmsAccountKit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.HmsAccountKit"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".location.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".ads.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".ads.InterstitialAdsActivity"
            android:exported="false" />
        <activity
            android:name=".ads.NativeAdsActivity"
            android:exported="false" />
        <activity
            android:name=".ads.AdActivity"
            android:exported="false" />
        <activity
            android:name=".analytics.AnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".analytics.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="install_channel"
            android:value="AppGallery" />
    </application>

</manifest>